<h4>Inserir Produto na Ordem</h4>
<div class="search">
  <div class="row g-3">
    <div class="col-md-4 form-group">
      <input class="form-control" type="text" name="name" [(ngModel)]="itemFilter.name" placeholder="Buscar..">
    </div>
    <div class="form-group col-md-3">
      <input  class="form-control" type="text" name="factoryCode" [(ngModel)]="itemFilter.factoryCode" placeholder="Cód. Produto...">
    </div>
  </div>
</div>

<div class="scroll">
  <table class="table table-hover" id="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Produto</th>
        <th scope="col">Cód. Produto</th>
        <th scope="col">Grupo</th>
        <th scope="col">Sub-Grupo</th>
        <th scope="col">Aplicação</th>
        <th scope="col">Marca</th>
        <th scope="col">Valor</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr routerLink="{{ row.id }}" *ngFor="let row of items | filterBy: itemFilter">
        <th scope="row"> {{ row.id }} </th>
        <td> {{ row.name }} </td>
        <td> {{ row.factoryCode }} </td>
        <td> {{ row.groupFamily }} </td>
        <td> {{ row.subGroup }} </td>
        <td> {{ row.application }} </td>
        <td> {{ row.brand }} </td>
        <td> {{ row.price }} </td>
        <td>
          <a  class="edit">
            <i class="bi bi-plus"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br>
<button type="button" class="btn btn-primary" (click)="backToOrder()">Voltar</button>