<div class="container">
    <h1>Atualizar Produto da Ordem </h1>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Descrição do Serviço</label>
                <input type="text" class="form-control" disabled [(ngModel)]="orderItems.product.name" name="name">
            </div>
            <div class="form-group col-md-6">
                <label>Cód. Fabricante</label>
                <input type="text" class="form-control" disabled [(ngModel)]="orderItems.product.factoryCode"
                    name="factoryCode">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Grupo</label>
                <input type="text" class="form-control" disabled [(ngModel)]="orderItems.product.groupFamily"
                    name="groupFamily">
            </div>
            <div class="form-group col-md-4">
                <label>Sub-Group</label>
                <input type="text" class="form-control" disabled [(ngModel)]="orderItems.product.subGroup"
                    name="subGroup">
            </div>
            <div class="form-group col-md-4">
                <label>Marca</label>
                <input type="text" class="form-control" disabled [(ngModel)]="orderItems.product.brand" name="brand">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Valor Unitário do Serviço</label>
                <input type="text" class="form-control" disabled [(ngModel)]="orderItems.product.price" currencyMask
                    [options]="{align: 'left' , prefix: 'R$ ', thousands: '.', decimal: ',' }" name="price">
            </div>
            <div class="form-group col-md-6">
                <label>Aplicação</label>
                <input type="text" class="form-control" disabled [(ngModel)]="orderItems.product.application" name="application">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Quantidade</label>
                <input type="text" class="form-control" [(ngModel)]="orderItems.quantity" mask="0000000" name="quantity"
                    placeholder="Ex. Quantidade de serviços">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>SubTotal</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="orderItems.subTotal" currencyMask
                        [options]="{align: 'left' , prefix: 'R$ ', thousands: '.', decimal: ',' }" name="subTotal">
                </div>
            </div>
        </div>

        <button class="btn btn-success" (click)="updateItemByOrder()">
            Atualizar
        </button>
        <button class="btn btn-light" (click)="cancel()">
            Voltar
        </button>
    </form>
</div>