<div class="container">
    <h1>Atualizar Produto</h1>

    <form autocomplete="off">
        <div class="form-group ">
            <label>Nome do Produto</label>
            <input type="text" class="form-control" [(ngModel)]="product.name" name="name"
                placeholder="Ex. Arruela de Encosto">
        </div>
        <div class="form-group ">
            <label>Cód. Fabricação</label>
            <input type="text" class="form-control" [(ngModel)]="product.factoryCode" name="factoryCode"
                placeholder="Ex. BG4234Gf">
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Grupo</label>
                <input type="text" class="form-control" [(ngModel)]="product.groupFamily" name="groupFamily"
                    placeholder="Ex. Volkswagem">
            </div>
            <div class="form-group col-md-4">
                <label>Sub-Group</label>
                <input type="text" class="form-control" [(ngModel)]="product.subGroup" name="subGroup"
                    placeholder="Ex. Motor AP">
            </div>
            <div class="form-group col-md-4">
                <label>Aplicação</label>
                <select id="inputState" name="application" [(ngModel)]="product.application" class="form-control">
                    <option selected label="Álcool/Gasolina" > Álcool/Gasolina </option>
                    <option> Diesel </option>
                    <option > Flex </option>
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label>Marca</label>
            <input type="text" class="form-control" [(ngModel)]="product.brand" name="brand"
                placeholder="Ex. BG4234Gf">
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label>Valor</label>
                <input autocomplete="off" type="text" class="form-control" [(ngModel)]="product.price" currencyMask
                    [options]="{align: 'left' , prefix: 'R$ ', thousands: '.', decimal: ',' }" name="price"
                    placeholder="R$ 54,99">
            </div>
        </div>

        <button class="btn btn-primary" (click)="updateProduct()">
            Atualizar
        </button>
        <button class="btn btn-light" (click)="cancel()">
            Cancelar
        </button>
    </form>
</div>