<div class="container">
    <h3>Deletar Ordem De Serviço</h3>

    <div class="buttons">
        <button class="btn btn-danger" (click)="modal(template)">
            Deletar
        </button>
        <button class="btn btn-primary" (click)="backToListOrders()">
            Voltar
        </button>
    </div>


    <table class="table table-sm" id="table">
        <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Data de Criação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ order.customer.name }} </td>
                <td> {{ order.creationDate | date:'dd/MM/yyyy' }} </td>
            </tr>
        </tbody>
        <br>

        <thead>
            <tr>
                <th scope="col">Produto</th>
                <th scope="col">Grupo</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">SubTotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of order.items">
                <td> {{ row.product.name }} </td>
                <td> {{ row.product.groupFamily }} </td>
                <td> {{ row.quantity }} </td>
                <td> {{ row.product.price | currency:'BRL' }} </td>
                <td> {{ row.subTotal | currency:'BRL' }} </td>
            </tr>
        </tbody>

        <thead>
            <tr>
                <th scope="col">Serviço</th>
                <th scope="col">Grupo</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">SubTotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of order.labors">
                <td> {{ row.labor.description }} </td>
                <td> {{ row.labor.groupFamily }} </td>
                <td> {{ row.quantity }} </td>
                <td> {{ row.labor.price | currency:'BRL'}} </td>
                <td> {{ row.subTotal | currency:'BRL' }} </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="3"></td>
                <th scope="col">Valor Total</th>
                <td> {{ order.amount | currency:'BRL' }} </td>
            </tr>
        </tbody>

        <ng-template #template>
            <div class="modal-body text-center">
                <p>Deseja realmente excluir a Ordem do cliente {{ order.customer.name }}?</p>
                <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
                <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
            </div>
        </ng-template>
    </table>
    <br><br>
</div>