h1 {
    margin-bottom: 2rem;
}

button{
    margin: 20px 15px 0px 0px;
}
.btn-danger{
    color: white;
    padding: 10px 30px;
}
.btn-light{
    background-color:#3f51b5;
    color: white;
    padding: 10px 25px;
}