<div class="container">
    <h3>Ordem de Serviço</h3>
    <br>
    <button class="btn btn-info" (click)="printOrder()">
        <i class="bi bi-zoom-in"></i> Visualizar Ordem
    </button>
    <table class="table table-hover" id="table">
        <thead>
            <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Data de Criação</th>
                <th scope="col">Situação</th>
                <th scope="col">Valor Total</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ order.customer.name }} </td>
                <td> {{ order.creationDate | date:'dd/MM/yyyy' }} </td>
                <td> {{ order.status }} </td>
                <td> {{ order.amount | currency:'BRL' }} </td>
                <td>
                    <a routerLink="/orders/update/{{ order.id }}" class="edit">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a  class="delete">
                        <i (click)="deleteOrder()" class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <button class="btn btn-success" (click)="insertProductsInOrder()">
        <i class="bi bi-plus"></i> Adicionar Produtos
    </button>
    <button class="btn btn-primary" (click)="insertLaborsInOrder()">
        <i class="bi bi-plus"></i> Adicionar Serviços
    </button>
    <br><br>
    <div class="scroll">
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Produto</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of order.items">
                    <th scope="row"> {{ row.id }} </th>
                    <td> {{ row.product.name }} </td>
                    <td> {{ row.quantity }} </td>
                    <td> {{ row.subTotal | currency:'BRL' }} </td>
                    <td>
                        <a routerLink="/orders/update/{{order.id}}/products/update/{{ row.id }}" class="edit">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a routerLink="/orders/delete/{{ order.id }}/products/delete/{{ row.id }}" class="delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="scroll">
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Servico</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">SubTotal</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of order.labors">
                    <th scope="row"> {{ row.id }} </th>
                    <td> {{ row.labor.description }} </td>
                    <td> {{ row.quantity }} </td>
                    <td> {{ row.subTotal | currency:'BRL' }} </td>
                    <td>
                        <a routerLink="/orders/update/{{order.id}}/labors/update/{{ row.id }}" class="edit">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a routerLink="/orders/delete/{{ order.id }}/labors/delete/{{ row.id }}" class="delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="buttons">
        <button class="btn btn-primary btn-back" (click)="backToOrders()">
            Voltar
        </button>
    </div>
    <br><br>
</div>