h1 {
    margin-bottom: 2rem;
}

.btn-success{
    background-color: #1cc88a;
    color: white;
    padding: 10px 30px;
    margin-right: 0.5rem;
}
.btn-light{
    background-color:#3f51b5;
    color: white;
    padding: 10px 25px;
}
